<div class="div-registration-form">
  <form [formGroup]="registrationForm" class="registration-form">

    <!--Componente de nome-->
    <app-name></app-name>

    <!--Component de CPF-->
    <app-cpf></app-cpf>

    <!--Componente de Gêneros-->
    <app-genders></app-genders>

    <!--Componente de data de nascimento-->
    <app-date-of-birth></app-date-of-birth>

    <!--Componente de email-->
    <app-email></app-email>

    <!--Componente de naturalidade-->
    <app-naturalness></app-naturalness>

    <!--Botão Salvar-->
    <div>
      <button mat-button>SALVAR</button>
    </div>

  </form>
</div>
