.div-registration-form {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.registration-form {
  min-width: 30%;
  max-width: 40%;
  background-color: rgba(10,23,55,0.03);
  border-radius: 2%;
  padding: 1% 2%;
}

.mat-button {
  margin-top: 6%;
  width: 100%;
  color: white;
  background-color: rgb(76,175,80);
}

.mat-button:hover {
  background-color: rgb(76,175,80,1);
}
