<div class="div-registration-form">
  <form [formGroup]="registrationForm" class="registration-form">

    <!--Componente de nome-->
    <app-name></app-name>

    <!--Component de CPF-->
    <app-cpf></app-cpf>

    <!--Componente de Gêneros-->
    <app-genders></app-genders>

    <!--Componente de data de nascimento-->
    <app-date-of-birth></app-date-of-birth>

    <!--Input de e-mail-->
    <div>
      <mat-form-field class="registration-form-full-width">

        <mat-label>Email</mat-label>

        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-hint *ngIf="!registrationForm.get('email').value">Digite seu e-mail!</mat-hint>

        <mat-error *ngIf="registrationForm.get('email').errors?.email">
          Por favor, digite um e-mail válido.
        </mat-error>

      </mat-form-field>
    </div>

    <!--Input naturalidade-->
    <div>
      <mat-form-field class="registration-form-full-width">

        <mat-label>Naturalidade</mat-label>

        <input matInput formControlName="naturalness">
        <mat-hint *ngIf="!registrationForm.get('naturalness').value">Digite sua naturalidade</mat-hint>

        <mat-error *ngIf="registrationForm.get('naturalness').errors?.minlength">
          Por favor, digite uma naturalidade válida.
        </mat-error>

      </mat-form-field>
    </div>

    <!--Input nacionalidade-->
    <div>
      <mat-form-field class="registration-form-full-width">

        <mat-label>Nacionalidade</mat-label>

        <input matInput formControlName="nationality">
        <mat-hint *ngIf="!registrationForm.get('nationality').value">Digite sua nacionalidade</mat-hint>

        <mat-error *ngIf="registrationForm.get('nationality').errors?.minlength">
          Por favor, digite uma nacionalidade válida.
        </mat-error>

      </mat-form-field>
    </div>

    <!--Botão Salvar-->
    <div>
      <button mat-button>SALVAR</button>
    </div>

  </form>
</div>
